<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <div class="container">

        <h1>Login Intranet</h1>

        <form th:action="@{/index}" th:object="${loginDTO}" method="post">

            <label>Login:</label>
            <input type="text" th:field="*{login}">

            <label>Senha:</label>
            <input type="password" th:field="*{senha}">

            <button type="submit">Entrar</button>
        </form>

        <pre th:text="${mensagem} ?: 'Aguardando login...'"></pre>

    </div>
</body>
