<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

    <h1>Login Intranet</h1>

    <form action="">
        <label>Login:</label><br>
        <input type="text" id="login" name="login" value="michaelw"><br><br>

        <label>Senha:</label><br>
        <input type="password" id="password" name="password" value="michaelwpass"><br><br><button
            type="submit">Entrar</button>
    </form>

    <pre id="resultado">Aguardando login...</pre>


</body>

</html>